[Unit]
Description=date system
After=multi-user.target
 
[Service]
Type=simple
ExecStart=/usr/local/bin/datesystem start
ExecStop=/usr/local/bin/datesystem stop 
TimeoutStopSec=infinity

[Instal]
WantedBy=multi-user.target
